<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cromero.asociacionisaycristian">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsociacionIsaYCristian">
        <activity android:name=".OrderLineActivity"></activity>
        <activity android:name=".userViews.User_ProductSelection" />
        <activity android:name=".userViews.User_OrderManagement" />
        <activity android:name=".userViews.User_StoreSelection" />
        <activity android:name=".userViews.UserOrManagerActivity" />
        <activity android:name=".managerViews.AddProductActivity" />
        <activity
            android:name=".managerViews.EditProductActivity"
            android:noHistory="true" />
        <activity android:name=".managerViews.ProductsActivity" />
        <activity android:name=".managerViews.view_addStore" />
        <activity android:name=".managerViews.TabbedActivity" />
        <activity android:name=".UserOrdersActivity" />
        <activity android:name=".managerViews.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>